/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1, h2, h3 {

    font-family: Helvetica, Arial, sans-serif;
    text-align: center;

}

h1  {
    color: #B22222;
    padding-bottom: 20px;
    border-bottom: 2px solid #B22222;
}

h2  {
    color: #000;
    font-size: 110%;
}

div.front, div.back {
    width: 350px;
    height: 300px;
    margin: 20px 85px;
    float: left;
    border-radius: 25px;
    background-color: white;
}

div.front {
    border: 5px solid #0099CC;
    position: relative;
}

div.back  {
    border: 5px solid #B22222;
    border-radius: 25px;
}

img {
    margin: 5px;
    padding-left: 45px;
    padding-top: 20px;

}

h3  {
    color: #0099CC;
    margin-top: 5px;
    font-size: 150%;
}

section {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

img.visible, h3.visible {
    visibility: visible;
}














