div#slideshow {
    width: 80%;
   }

div.current, div.previous {
	width: 80%;
}

#slideshow img	{
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}
#slideshow div {
    position: absolute;
    z-index: 0;
}

#slideshow div.previous {
    z-index: 1;
}
#slideshow div.current {
    z-index: 2;
}